body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

header li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #ccc;
}

h1 {
  color: #333;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}